.menu {
    width: 788px;
    height: 100%;
    margin: 0 auto;
}

.menu li {
    padding: 5px 10px;
}

.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.menu ul a {
    width: 20%;
    height: inherit;
    color: #222;
    display: inline-block;
}

.menu ul a:hover {
    background-color: #222;
    color: #fff;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}


/*Início das configurações da Navigation com dispositivos 640px*/

@media screen and (max-width: 640px) {
    .container1 {
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: [c1] 33% [c2] 33% [c3] 33% [c4];
        grid-template-rows: [r1] 33% [r2] 33% [r3] 33% [r4];
    }
    img.logo {
        height: 74px;
        width: auto;
        padding-left: 0px;
    }
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
        /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
        /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #f1c40f;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked~ul {
        max-height: 350px;
        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}

nav.navbar {
    width: 800px;
    margin: 0 auto;
}

.gettv_bg {
    width: 200px;
    height: 90px;
    background-size: 100%;
}

.bg1 {
    background-image: url(../img/channel_banner/1.jpg);
}

.bg2 {
    background-image: url(../img/channel_banner/2.jpg);
}

.bg3 {
    background-image: url(../img/channel_banner/3.jpg);
}

.bg4 {
    background-image: url(../img/channel_banner/4.jpg);
}

.bg5 {
    background-image: url(../img/channel_banner/5.jpg);
}

.bg6 {
    background-image: url(../img/channel_banner/6.png);
}

.bg7 {
    background-image: url(../img/channel_banner/7.jpeg);
}

.bg8 {
    background-image: url(../img/channel_banner/8.jpg);
}

.lg1 {
    background-image: url(../img/logo/GetTV.png);
    width: 100%;
    height: 90px;
    background-size: 100%;
}

div#channel_panel {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

svg.title_tags {
    width: 100%;
    height: 30px;
}

.footer {
    background-color: #F0846C;
    color: white;
    height: 320px;
    padding-top: 50px;
    line-height: 2.5;
}

.fpanel {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

change-announcement {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    color: #808080;
    padding: 10px;
}

ul {
    list-style: none;
    text-align: left;
}

svg.s_title_tags {
    margin: 5px;
}

change-item h3 {
    height: 20px;
    margin: 5px auto;
    font-size: 20px;
}

svg.s_title_tags {
    margin: 5px;
    height: 16px;
}

body {
    color: #808080;
}

h1 {
    font-size: 30.4px;
}

.gettv {
    background: #808080;
    padding: 10px;
    padding-left: 70px;
}

.gettv h1 {
    color: white;
}

.banner {
    width: 100%;
    height: 120px;
}

.content {
    padding-left: 124px;
    padding-right: 124px;
    background: #FFE9BF;
}

.shop_panel {
    background: white;
    /* padding-right: 16px; */
    /* background: yellow; */
    padding: 0px;
}

img.logo {
    height: 74px;
    width: auto;
    padding-left: 120px;
}

img.logo1 {
    height: 74px;
    width: auto;
}

button.logoFacebook {
    height: 40px;
    width: 110px;
    background-color: #3B5998;
    color: white;
    border-radius: 3px;
}

button.logoGoogle {
    height: 40px;
    width: 110px;
    border-radius: 3px;
    background-color: white;
    color: black;
}

button.login-login {
    height: 40px;
    width: 110px;
    margin-right: 2%;
    background-color: #F0846C;
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 3px;
}

button.login-register {
    height: 40px;
    width: 110px;
    margin-left: 2%;
    background-color: #F06C6C;
    font-size: 130%;
    color: white;
    border-radius: 3px;
    border: none;
}

img.logoFacebook {
    height: 25px;
    width: auto;
    background-color: #3B5998;
}

img.logoGoogle {
    height: 25px;
    width: auto;
    background-color: white;
}

img#logo {
    height: 43px;
    width: auto;
    padding-bottom: 5px;
    color: green;
}

section.topWrap {
    border-bottom: #EFEFEF solid 1px;
}

section.topWrap2 {
    border-bottom: #EFEFEF solid 1px;
}

section.menu {
    border-bottom: #EFEFEF solid 1px;
}

.topWrap button {
    background: none;
    border: none;
    height: 75px;
}

#white {
    background-color: white;
    border: none;
    height: 75px;
}

.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
    background: #efefef;
    height: 55px;
    margin-top: 10px;
}

button.btn.btn-default.dropdown-toggle {
    height: 55px;
    line-height: 45px;
    margin-left: 10px;
}

.big-banner {
    height: auto;
    width: 100%;
}

.channel {
    color: #FFFFFF;
    width: 124px;
    float: left;
    margin: 5px;
}

.channel img {
    height: 72px;
}

.channel h3 {
    font-size: 18px;
}

.clear {
    clear: both;
}

.title {
    color: white;
    background-color: #E84D4D;
    width: 70px;
    padding: 5px;
    padding-bottom: 0px;
}

.box {
    background: linear-gradient(to bottom left, transparent 49.8%, #E0E6E5 50%) top /100% 35%, linear-gradient(to top left, transparent 49.8%, #E0E6E5 50%) bottom/100% 35%, linear-gradient(#E0E6E5, #E0E6E5) center/100% 30%;
    background-repeat: no-repeat;
}

change-item .img img {
    width: 184px;
    height: 160px;
}

change-user-profile .row {
    width: 100%;
    padding: 5px;
}

.name {
    text-align: left;
    text-indent: 10px;
    font-weight: bolder;
}

change-item-tag {
    position: relative;
    margin-bottom: 10px;
}

.time {
    text-align: left;
    text-indent: 10px;
}

change-shop {
    width: 100%;
    height: auto;
}

change-item {
    width: 200px;
    height: 350px;
    position: relative;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin: 5px;
    float: left;
}

change-item1 {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin: 5px;
    float: left;
}

change-user-profile {
    position: relative;
    width: 100%;
}

change-like {
    top: 10px;
    position: relative;
}

.type-title {
    color: white;
    background-color: #6AA64F;
    width: 50px;
}

.getchange {
    background: white;
    padding: 10px;
    padding-left: 70px;
}

change-tag.big {
    background: #efefef;
    color: #4d4d4d;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 12px;
}

change-tag.small {
    background: #efefef;
    color: #4d4d4d;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 8px;
}

.tags {
    height: 35px;
}

.more {
    /*水平居中*/
    text-align: center
}

.footer {
    background-color: #F0846C;
    color: white;
}

a.test {
    color: white;
}

.row {
    text-align: center
}

#banner2 {
    width: 100%;
    height: 100%;
}

#banner {
    width: 100%;
    height: 100%;
}

#banner3 {
    width: 100%;
    height: auto;
}

.banner1 {
    width: 100%;
    height: 100%;
    clear: both;
}

#recomand {
    padding-left: 8%;
    padding-right: 8%;
    width: 98%;
    text-align: left;
    clear: both;
    float: left;
    margin: 5px;
}

.col-lg-15 {
    width: 12.5;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.medium1 {
    font-size: 18px;
}

.small1 {
    font-size: 12px;
    padding-bottom: 10px;
}

.col-lg-3 {
    width: 25%;
    padding: 5px;
}

.black {
    color: black;
}

.payButton {
    padding: 0px 37px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    margin: 20px 2px;
    /* cursor: pointer; */
    background-color: #FF6B66;
    border: none;
    height: 34px;
    border-radius: 3px;
    color: white;
}

.login {
    width: 450px;
    height: 500px;
    border: 1px solid #000;
    text-align: center;
    padding: 2%;
}

.socialMedia {
    width: 400px;
    height: auto;
}

.email {
    width: 400px;
    height: auto;
}

.password {
    width: 400px;
    height: auto;
}

.rememberMe {
    width: 400px;
    height: auto;
}

.loginRegister {
    width: 400px;
    height: auto;
}

.forgetPassword {
    width: 400px;
    height: auto;
}

.loginControl {
    padding-right: 25%;
    padding-left: 20%;
    padding-top: 5%;
}

.font-sizeh1 {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 200%;
}

.container1 {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: [c1] 25% [c2] 25% [c3] 25% [c4] 25% [c5];
    grid-template-rows: [r1] 50% [r2] 50% [r3];
}